<div id="barChartOptions"></div>
<button id="pie-chart" class="mui-btn mui-btn--raised mui-btn--primary">Pie Chart</button>
<button id="bar-chart" class="mui-btn mui-btn--raised mui-btn--primary">Bar Chart</button>

<script>

var chart = Highcharts.chart('barChartOptions', {

    title: {
        text: 'Toggle Chart'
    },

    subtitle: {
        text: 'Bar Chart'
    },

    xAxis: {
        categories: <%= raw @uLocations %>
    },

    series: [{
        type: 'column',
        colorByPoint: true,
        data: <%= raw @sumLocations %>,
        showInLegend: false
    }]

});


$('#pie-chart').click(function () {
    chart.update({
        subtitle: {
            text: 'Pie Chart'
        },
		series: [{
			type: 'pie',
			colorByPoint: true,
			data: <%= raw @sumLocations %>,
			showInLegend: false
		}]
    });
});

$('#bar-chart').click(function () {
    chart.update({
        subtitle: {
            text: 'Bar Chart'
        },
		series: [{
			type: 'column',
			colorByPoint: true,
			data: <%= raw @sumLocations %>,
			showInLegend: false
		}]
    });
});

</script>