<div id="faq-area">
	<h3 data-step="5" data-intro="Here are FAQs. If you're ready to go, click 'Done' and happy visualizing!">
		Frequently Asked Questions<svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#5e5e5e" d="M4,2A2,2 0 0,0 2,4V16A2,2 0 0,0 4,18H8V21A1,1 0 0,0 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z" /></svg>
	</h3>

	<h4>What are the Grant Categories?</h4>
	<p>There are 4 categories assigned by the Grant Team to awards: </p>
	<ol>
		<li>&lsquo;Ahahui Grant: Provides funding support to eligible organizations hosting community events that:</li> 
		<ul>
			<li>align with at least one of OHA's Strategic Result</li>
			<li>provide significant benefits to the Native Hawaiian community</li>
			<li>offer OHA valuable public relations</li>
			<li>recognition benefits and community engagement opportunities</li>
		</ul>
		<li>Community Grant Program: Provides funding support to eligible organizations that</li>
		<ul>
			<li>Focus on OHA&rsquo;s Strategic Priorities and Strategic Results</li>
			<li>Encourage innovative initiatives that lead to change to improve the conditions of Native Hawaiians</li>
			<li>Institute performance indicators as criteria to measure effectiveness</li>
			<li>Require submission of applications from eligible organizations</li>
		</ul>
		<li>Board of Trustee Initiative (BOTI): Provides unbudgeted funding support to eligible organizations whose programs align with the broader OHA Strategic Priorities, benefits the Hawaiian community, and is intended to implement unique and innovative programs.</li>
		<li>Sponsorship</li>
	</ol>
	
	<h4>What are the Grant Locations Supported?</h4>
	<p>They are Geographical proximity of event or locale of service provision categorized using 13 categories: </p>
	<ol>
		<li>International</li>
		<li>Continent</li>
		<li>Statewide</li>
		<li>Papahanaumokuakea</li>
		<li>Hawaii</li>
		<li>Molokai</li>
		<li>Maui</li>
		<li>Lanai</li>
		<li>Kahoolawe</li>
		<li>Kauai</li>
		<li>Niihau</li>
		<li>Oahu</li>
		<li>Multiple</li>
	</ol>
	
	<h4>What are OHA's Strategic Priority?</h4>
	<p>OHA recognizes the unique needs of Native Hawaiians (NH) and hopes to address these concerns via its Strategic Plan (SP). The SP identified 6 inter-connected priorities or grant focus areas: </p>
	<ol>
		<li>ho&rsquo;okahua waiwai (Economic Self-Sufficiency)</li>
		<li>&lsquo;&auml;ina (Land and Water)</li>
		<li>ho&rsquo;ona&rsquo;auao (Education)</li>
		<li>ea (Governance)</li>
		<li>mo&rsquo;omeheu (Culture)</li>
		<li>mauli ola (Health)</li>
	</ol>
	
	<h4>What are OHA's Strategic Result?</h4>
	<p>To create positive systemic change and improve opportunities for NHs and the State of Hawaii, OHA implements its SP by achieving its ten strategic results:</p> 
	<ul>
		<li>Value Culture and History</li>
		<li>Participate in Cultural Activities</li>
		<li>Understand Need for a Viable Land Base</li>
		<li>Achieve Pae&rsquo;Aina Sustainability</li>
		<li>Transfer Assets to Entity</li>
		<li>Improve family Lifestyle Choices</li>
		<li>Increase Family Income</li>
		<li>Build stability in Housing</li>
		<li>Exceed Education Standards</li>
		<li>Decrease Chronic Disease Rates</li>
	</ul>
	
	<h4>Glossary of Data Terms</h2>
	<p>All Grants: <em>Total number of grants which reports applicable data.</em></p><br>
	<p>Award Amount: <em>Contracted grant funds advanced/reimbursed by OHA to grantee.</em></p><br>
	<p>Fiscal Year: <em>The 12‐month period of time during which revenues and expenses are accumulated; this period of time does not correspond to the calendar year.</em></p><br>
	<p>Grant Status: <em>Indicates whether the grant is still open (Process by which OHA determines that all administrative action and all required work of the award have not been completed) or closed (Process by which OHA determines that all administrative action and all required work of the award have been completed).</em></p><br>
	<p>Native Hawaiians Served: <em>Number of Native Hawaiians receiving program services reported by the grantee either at the close of a grant and/or the most recent number reported by those grants that remain open. Given the status of some grants remaining open at the time of this data posting, it is most likely that the number of Native Hawaiians served in relation to the strategic result is underestimated.</em></p><br>
	<p>Native Hawaiians Served Grant Count: <em>Number of grants reporting on Native Hawaiians Served.</em></p><br>
	<p>Organization: <em>Legal entity known as the awardee, the recipient or individual that receives a grant or cooperative agreement award.</em></p><br>
	<p>Organization Project: <em>The name of the project the grant is awarded to. An organization may have multiple projects and may request a grant for each project.</em></p><br>
	<p>Priority Level: <em>Indicates that the grant was not tracked at the more granular level (Strategic Result).</em></p><br>
	<p>Sponsorship: <em>Provides funding support to eligible organizations whose missions align with OHA&rsquo;s Strategic Priorities/Results, whose programs/services benefit the Hawaiian community, and whose events offer OHA recognition benefits. This funding opportunity is not intended to support events that would otherwise qualify under the ʽAhahui Grant Program or to support program services. Sponsorships differ from grants which are funded to organizations to provide program services.</em></p><br>
	<p>Total Served: <em>Full sum of clients which includes NHS and non-NHs reported to receive program services by the grantee. </em></p><br>
	<p>Total Served <em>Grant Count: Number of grants that report on aggregate number of NHs and non-NHs that were provided program services.</em></p><br>

</div>