<div class="mass-upload">
	<%= form_tag import_grants_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Upload" %>
	<% end %>
	<%= link_to "View Executive Report", grants_path(@grants, :format => :pdf) %>
</div>