<!-- Give ability to style output of pdf and render highcharts -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<%= wicked_pdf_stylesheet_link_tag "pdf" -%>

<div id="pdf">		  
	<div id="result"></div>
		<table id="table-sparkline">
			<thead>
				<tr>
					<th>State</th>
					<th>Income</th>
					<th>Income per quarter</th>
					<th>Costs</th>
					<th>Costs per quarter</th>
					<th>Result</th>
					<th>Result per quarter</th>
				</tr>
			</thead>
			<tbody id="tbody-sparkline">
				<tr>
					<th>Alabama</th>
					<td>254</td>
					<td data-sparkline="71, 78, 39, 66 "/>
					<td>296</td>
					<td data-sparkline="68, 52, 80, 96 "/>
					<td>-42</td>
					<td data-sparkline="3, 26, -41, -30 ; column"/>
				</tr>
				<tr>
					<th>Alaska</th>
					<td>246</td>
					<td data-sparkline="87, 44, 74, 41 "/>
					<td>181</td>
					<td data-sparkline="29, 54, 73, 25 "/>
					<td>65</td>
					<td data-sparkline="58, -10, 1, 16 ; column"/>
				</tr>
				<tr>
					<th>Arizona</th>
					<td>101</td>
					<td data-sparkline="56, 12, 8, 25 "/>
					<td>191</td>
					<td data-sparkline="69, 14, 53, 55 "/>
					<td>-90</td>
					<td data-sparkline="-13, -2, -45, -30 ; column"/>
				</tr>
				<tr>
					<th>Arkansas</th>
					<td>303</td>
					<td data-sparkline="81, 50, 78, 94 "/>
					<td>76</td>
					<td data-sparkline="36, 15, 14, 11 "/>
					<td>227</td>
					<td data-sparkline="45, 35, 64, 83 ; column"/>
				</tr>
				<tr>
					<th>California</th>
					<td>200</td>
					<td data-sparkline="61, 80, 10, 49 "/>
					<td>217</td>
					<td data-sparkline="100, 8, 52, 57 "/>
					<td>-17</td>
					<td data-sparkline="-39, 72, -42, -8 ; column"/>
				</tr>
				<tr>
					<th>Colorado</th>
					<td>118</td>
					<td data-sparkline="13, 48, 21, 36 "/>
					<td>273</td>
					<td data-sparkline="98, 86, 8, 81 "/>
					<td>-155</td>
					<td data-sparkline="-85, -38, 13, -45 ; column"/>
				</tr>
				<tr>
					<th>Connecticut</th>
					<td>201</td>
					<td data-sparkline="6, 64, 44, 87 "/>
					<td>148</td>
					<td data-sparkline="60, 13, 73, 2 "/>
					<td>53</td>
					<td data-sparkline="-54, 51, -29, 85 ; column"/>
				</tr>
				<tr>
					<th>Delaware</th>
					<td>161</td>
					<td data-sparkline="7, 27, 49, 78 "/>
					<td>298</td>
					<td data-sparkline="19, 90, 100, 89 "/>
					<td>-137</td>
					<td data-sparkline="-12, -63, -51, -11 ; column"/>
				</tr>
				<tr>
					<th>District of Columbia</th>
					<td>106</td>
					<td data-sparkline="18, 39, 27, 22 "/>
					<td>185</td>
					<td data-sparkline="62, 97, 24, 2 "/>
					<td>-79</td>
					<td data-sparkline="-44, -58, 3, 20 ; column"/>
				</tr>
				<tr>
					<th>Florida</th>
					<td>249</td>
					<td data-sparkline="51, 24, 90, 84 "/>
					<td>244</td>
					<td data-sparkline="47, 40, 74, 83 "/>
					<td>5</td>
					<td data-sparkline="4, -16, 16, 1 ; column"/>
				</tr>
				<tr>
					<th>Georgia</th>
					<td>183</td>
					<td data-sparkline="36, 80, 39, 28 "/>
					<td>212</td>
					<td data-sparkline="43, 25, 52, 92 "/>
					<td>-29</td>
					<td data-sparkline="-7, 55, -13, -64 ; column"/>
				</tr>
				<tr>
					<th>Hawaii</th>
					<td>232</td>
					<td data-sparkline="73, 34, 74, 51 "/>
					<td>172</td>
					<td data-sparkline="1, 83, 49, 39 "/>
					<td>60</td>
					<td data-sparkline="72, -49, 25, 12 ; column"/>
				</tr>
				<tr>
					<th>Idaho</th>
					<td>166</td>
					<td data-sparkline="25, 43, 31, 67 "/>
					<td>152</td>
					<td data-sparkline="30, 30, 75, 17 "/>
					<td>14</td>
					<td data-sparkline="-5, 13, -44, 50 ; column"/>
				</tr>
				<tr>
					<th>Illinois</th>
					<td>336</td>
					<td data-sparkline="56, 84, 98, 98 "/>
					<td>151</td>
					<td data-sparkline="61, 12, 77, 1 "/>
					<td>185</td>
					<td data-sparkline="-5, 72, 21, 97 ; column"/>
				</tr>
				<tr>
					<th>Indiana</th>
					<td>216</td>
					<td data-sparkline="52, 87, 64, 13 "/>
					<td>216</td>
					<td data-sparkline="2, 47, 94, 73 "/>
					<td>0</td>
					<td data-sparkline="50, 40, -30, -60 ; column"/>
				</tr>
				<tr>
					<th>Iowa</th>
					<td>135</td>
					<td data-sparkline="41, 45, 19, 30 "/>
					<td>159</td>
					<td data-sparkline="17, 34, 45, 63 "/>
					<td>-24</td>
					<td data-sparkline="24, 11, -26, -33 ; column"/>
				</tr>
				<tr>
					<th>Kansas</th>
					<td>184</td>
					<td data-sparkline="52, 43, 65, 24 "/>
					<td>215</td>
					<td data-sparkline="20, 42, 97, 56 "/>
					<td>-31</td>
					<td data-sparkline="32, 1, -32, -32 ; column"/>
				</tr>
				<tr>
					<th>Kentucky</th>
					<td>289</td>
					<td data-sparkline="85, 74, 98, 32 "/>
					<td>219</td>
					<td data-sparkline="37, 38, 93, 51 "/>
					<td>70</td>
					<td data-sparkline="48, 36, 5, -19 ; column"/>
				</tr>
				<tr>
					<th>Louisiana</th>
					<td>257</td>
					<td data-sparkline="89, 18, 87, 63 "/>
					<td>201</td>
					<td data-sparkline="19, 54, 35, 93 "/>
					<td>56</td>
					<td data-sparkline="70, -36, 52, -30 ; column"/>
				</tr>
			</tbody>
		</table> 		  
	</div>


<!-- Configs for sparkline chart -->
<script>
/**
 * Create a constructor for sparklines that takes some sensible defaults and merges in the individual
 * chart options. This function is also available from the jQuery plugin as $(element).highcharts('SparkLine').
 */
Highcharts.SparkLine = function (a, b, c) {
    var hasRenderToArg = typeof a === 'string' || a.nodeName,
        options = arguments[hasRenderToArg ? 1 : 0],
        defaultOptions = {
            chart: {
                renderTo: (options.chart && options.chart.renderTo) || this,
                backgroundColor: null,
                borderWidth: 0,
                type: 'area',
                margin: [2, 0, 2, 0],
                width: 120,
                height: 20,
                style: {
                    overflow: 'visible'
                },

                // small optimalization, saves 1-2 ms each sparkline
                skipClone: true
            },
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            xAxis: {
                labels: {
                    enabled: false
                },
                title: {
                    text: null
                },
                startOnTick: false,
                endOnTick: false,
                tickPositions: []
            },
            yAxis: {
                endOnTick: false,
                startOnTick: false,
                labels: {
                    enabled: false
                },
                title: {
                    text: null
                },
                tickPositions: [0]
            },
            legend: {
                enabled: false
            },
            tooltip: {
                backgroundColor: null,
                borderWidth: 0,
                shadow: false,
                useHTML: true,
                hideDelay: 0,
                shared: true,
                padding: 0,
                positioner: function (w, h, point) {
                    return { x: point.plotX - w / 2, y: point.plotY - h };
                }
            },
            plotOptions: {
                series: {
                    animation: false,
                    lineWidth: 1,
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    marker: {
                        radius: 1,
                        states: {
                            hover: {
                                radius: 2
                            }
                        }
                    },
                    fillOpacity: 0.25
                },
                column: {
                    negativeColor: '#910000',
                    borderColor: 'silver'
                }
            }
        };

    options = Highcharts.merge(defaultOptions, options);

    return hasRenderToArg ?
        new Highcharts.Chart(a, options, c) :
        new Highcharts.Chart(options, b);
};

var start = +new Date(),
    $tds = $('td[data-sparkline]'),
    fullLen = $tds.length,
    n = 0;

// Creating 153 sparkline charts is quite fast in modern browsers, but IE8 and mobile
// can take some seconds, so we split the input into chunks and apply them in timeouts
// in order avoid locking up the browser process and allow interaction.
function doChunk() {
    var time = +new Date(),
        i,
        len = $tds.length,
        $td,
        stringdata,
        arr,
        data,
        chart;

    for (i = 0; i < len; i += 1) {
        $td = $($tds[i]);
        stringdata = $td.data('sparkline');
        arr = stringdata.split('; ');
        data = $.map(arr[0].split(', '), parseFloat);
        chart = {};

        if (arr[1]) {
            chart.type = arr[1];
        }
        $td.highcharts('SparkLine', {
            series: [{
                data: data,
                pointStart: 1
            }],
            tooltip: {
                headerFormat: '<span style="font-size: 10px">' + $td.parent().find('th').html() + ', Q{point.x}:</span><br/>',
                pointFormat: '<b>{point.y}.000</b> USD'
            },
            chart: chart
        });

        n += 1;

        // If the process takes too much time, run a timeout to allow interaction with the browser
        if (new Date() - time > 500) {
            $tds.splice(0, i + 1);
            setTimeout(doChunk, 0);
            break;
        }
    }
}
doChunk();
</script>