// Place all the styles related to the grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboard-rollup{
	width: 100%;
	.card{
		height: 150px;
		width: 215px;
		margin: 0 15px 15px 0;
		float:left;
		padding: 0 0 0 10px;
		color: #fff;
	}
	.purple{background-color:purple;}
	.red{background-color:red;}
	.blue{background-color:blue;}
	.orange{background-color:orange;}
	.green{background-color:green;}
}

#chart-area{
	clear:both;
}

#drill-down-chart, #stackedChart{
	padding-bottom: 10px;
}
