// Place all the styles related to the grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard-rollup{
	width: 100%;
	.card{
		height: 140px;
		width: 220px;
		margin: 0 10px 10px 0;
		float:left;
		padding: 0 0 0 10px;
		color: #fff;
		background-position:90% 50%;
	}
	.purple{
		background-color:purple;
		background-image: image-url("purpleCard.jpg");
	}
	.red{
		background-color:red;
		background-image: image-url("redCard.jpg")
	}
	.blue{
		background-color:blue;
		background-image: image-url("blueCard.jpg")
	}
	.orange{
		background-color:orange;
		background-image: image-url("orangeCard.jpg")
	}
	.green{
		background-color:green;
		background-image: image-url("greenCard.jpg")
	}
	
	p.stat-number {
		font-size: 2em;
		line-height: 1;
		font-weight: bold;
		padding: 0px;
		margin: 18px 0px 0px 0px;
	}
}


#drill-down-chart, #stacked-chart, #line-stack-chart{
	background: #fff;
	border-radius: 2px;
	display: inline;
	float:left;
	/*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
	padding: 10px 0;
	margin: 10px 1% 10px 0;
}

div#drill-down-chart {
    width: 50%;
}
div#line-stack-chart {
    width: 48%;
}

div#stacked-chart {
    width: 100%;
}

/*
.mui-btn--small {
    height: 30.6px;
    line-height: 30.6px;
    padding: 0 16px;
    font-size: 13px;
}
.mui-btn--primary {
    color: #FFF;
    background-color: #2196F3;
}
.mui-btn--fab, .mui-btn--raised {
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
}

.mui-btn--fab, .mui-btn--raised {
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
}

.mui-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,.87);
    background-color: #FFF;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    margin: 6px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: .03em;
    position: relative;
    overflow: hidden;
}
.mui-btn {
    animation-duration: 0.0001s;
    animation-name: mui-btn-inserted;
}
*/