// Place all the styles related to the grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table select{
	color: #5e5e5e;
	 border:thin solid #777; 
	 background-color:#fff; 
	 border-radius:0; 
	 background: transparent;  
	 font-size: 14px;
	 height: 29px; 
	 padding: 5px; 
	 -webkit-appearance: none; 
	 background-image: image-url("dropdown.png");	 
	 background-repeat:no-repeat; 
	 background-position:92% center; 
	 width:180px; 
	 cursor:pointer;
	}

#dashboard-rollup{
	width: 100%;
	text-align:center;
	.card{
		text-align:left;
		height: 140px;
		width: 220px;
		margin: 0 10px 10px 0;
		display:inline-grid;
		padding: 0 0 0 10px;
		color: #f9f9f9;
		background-position:90% 50%;
	}
	.purple{
		background-color:purple;
		background-image: image-url("purpleCard.jpg");
	}
	.red{
		background-color:red;
		background-image: image-url("redCard.jpg")
	}
	.blue{
		background-color:blue;
		background-image: image-url("blueCard.jpg")
	}
	.orange{
		background-color:orange;
		background-image: image-url("orangeCard.jpg")
	}
	.green{
		background-color:green;
		background-image: image-url("greenCard.jpg")
	}
	p{margin: 0; padding:0; line-height:1;}
	p.stat-number {
		font-size: 24px;
		font-weight:bold;
		padding: 15px 0 0 0;
	}
	.stat-title {
		font-size: 16px;
		font-weight:normal;
	}
	.stat-year {
		font-size: 20px;
		font-weight:normal;
	}
	.more-info {
		font-size: 16px;
		font-weight:normal;
	}
}

#drill-down, #line-chart, #stacked-grouped-bar-chart, #stacked{margin:0 auto;}
#drill-down-chart, #stacked-chart, #line-stack-chart, #faq-area{
	background: #fff;
	border-radius: 2px;
	display: inline;
	float:left;
	/*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
	padding: 10px 0;
	margin: 10px 1% 10px 0;
}

div#drill-down-chart {
    width: 48.5%;
    clear:left;
}
div#line-stack-chart {
    width: 49.5%;
}

div#stacked-chart {
    width: 100%;
}

.full-view{width: 100% !important;}

#faq-area{
    margin-top: 20px;
	padding: 0;
	font-size: 16px;
	h3, h4, p, ul, ol, li{margin:0; color: #5e5e5e;}
	h3{padding:20px; background-color: #f9f9f9; border-bottom: 1px solid #f2f2f2;}
	h4{padding:20px 20px 5px 20px;}
	p{padding:0 20px;}
	ol, li{margin: 0 10px;}
}

.select-filters{text-align:center;}
.chart-type-select{cursor:pointer; width:28px; height:28px;opacity:.95; margin-top:-10px;}
.not-chosen{opacity:.4;}

